<!DOCTYPE html>
<head>
  <meta charset="utf8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- stylesheet-->
  <link rel="icon" href="../../favicon.ico">
  <link rel="stylesheet" href="/client/oss/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/client/oss/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/client/css/style.min.css">
  <title></title>
</head>
<body ng-app="app">
  <div class="container" ng-controller="ProductController as $ctrl" ng-init="$ctrl.init()">
    <!-- content-->
      <div class="row form-inline">
          <div class="col-md-12">
              <label>Max Weight Capacity (W) of Bag (in lbs)</label>
              <input type="text" class="form-control" ng-model="$ctrl.model.weight">
              <button type="button" class="btn btn-primary" ng-click="$ctrl.analyze()">Analyze</button>
          </div>
      </div>

      <h4 class="mt-60">The following products will be added to your bag:</h4>

      <table class="table table-bordered table-hover table-condensed">
          <thead>
              <tr>
                  <th class="text-center">Product ID</th>
                  <th class="text-center">Price (USD)</th>
                  <th class="text-center">QTY</th>
                  <th class="text-center">Total Price (USD)</th>
              </tr>
          </thead>

          <tbody>
              <tr ng-if="!$ctrl.items || $ctrl.items.length == 0">
                  <td colspan="5" class="text-center">No product in your bag.</td>
              </tr>
              <tr ng-if="$ctrl.items && $ctrl.items.length > 0" ng-repeat="item in $ctrl.items">
                  <th class="text-center" scope="row">{{ item.product_id }}</th>
                  <td class="text-center">{{ item.price | number:2 }}</td>
                  <td class="text-center">{{ item.qty | number:0 }}</td>
                  <td class="text-center">{{ item.price * item.qty | number:2 }}</td>
              </tr>
          </tbody>

          <tfoot></tfoot>
      </table>
  </div>
  <!-- requires-->
  <script src="/client/oss/jquery/dist/jquery.min.js"></script>
  <script src="/client/oss/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/client/oss/angular/angular.min.js"></script>
  <script src="/client/oss/underscore/underscore-min.js"></script>
  <!-- app start-->
  <script src="/client/app/app.js"></script>
  <!-- services-->
  <script src="/client/app/services/services.js"></script>
  <!-- base controller-->
  <script src="/client/app/controllers/controller.js"></script>
 
  <!-- app end-->
</body>